/* Main */

/* Hero */

.hero {
  max-width: 1600px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero_md@1x.jpg");

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero_md@2x.jpg");
  }
  
  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero_td@1x.jpg");

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero_td@2x.jpg");
  }
  }

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
    
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero_dd@1x.jpg");

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero_dd@2x.jpg");
  }
  }

  &__title {
    margin-bottom: 30px;
  
    color: $white-color;
  
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: $desktop) {
      font-size: 44px;
      line-height: calc(60 / 44);
    }
  }

}
