/*Mobile menu*/
.menu-toggle {
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-left: auto;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: $link-color;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 48px 20px;
  z-index: 999;
  background-color: $white-color;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  @media screen and (min-width: $mobile) {
    padding: 48px 40px;
}
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu {
  margin-bottom: 100px;

  @media screen and (min-width: $mobile) {
    margin-bottom: 406px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;
    
    color: $title-color;

    &:hover, &:focus {
      color: $link-color
    }
  }  
}

.mobile-contacts {
  margin-bottom: 64px;

  &__phone {
    display: inline-block;
    font-weight: 500;
    font-size: 30px;
    line-height: calc(40 / 30);

    letter-spacing: 0.02em;
    color: $link-color;

    margin-bottom: 32px;

    @media screen and (min-width: $mobile) {
      font-size: 34px;
      line-height: calc(40 / 34);
    }
  }

  &__email {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
  }

}

.mobile-social {
  display: flex;
  gap: 10px;
  padding-bottom: 48px;

  &__item {
    &:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;

    }
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(18 / 14);

    letter-spacing: 0.02em;
    color: $link-color;

    @media screen and (min-width: $mobile) {
      font-size: 18px;
      line-height: calc(22 / 18);
    }

  }
}